.cardContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.289);
  border-radius: 5px;
  padding: 15px;
  width: 225px;
  min-height: 200px;
}
.cardBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.cardTitle {
  margin: 0;
}
.cardDescription {
  margin: 0;
  color: rgb(255, 255, 255, 0.8);
  font-size: smaller;
  word-wrap: break-word;
  flex-grow: 1;
}
.repoInfo {
  display: flex;
  justify-content: space-around;
  font-size: small;
  margin-top: 10px;
}
.repoInfo > div {
  display: flex;
  gap: 2px;
  align-items: center;
}
.refreshButton {
  margin-top: 10px;
}
.material-icons {
  font-size: 17px;
}
.cardBackgroundRed {
  background-color: rgba(255, 0, 0, 0.4);
}
.retry {
  background-color: rgba(255, 0, 0, 0.5);
}
.centerElements {
  display: grid;
}
.centerElements > h4 {
  align-self: flex-end;
  justify-self: center;
}
.centerElements > button {
  align-self: flex-end;
}
.centerTitle {
  justify-content: center;
  align-items: center;
}
